/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: 'Asap';
}

.App {
  text-align: center;
  min-height: 100vh;
  width: auto;
}

.button {
 display: inline-block;
 padding: 0.46em 1.6em;
 border: 0.1em solid #FFFFFF;
 margin: 0 0.2em 0.2em 0;
 border-radius: 0.12em;
 box-sizing: border-box;
 text-decoration: none;
 font-family: 'Roboto',sans-serif;
 font-weight: 300;
 color:#000000;
 text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
 background-color:#FFFFFF;
 text-align: center;
 transition: all 0.15s;
  }
  .button:hover{
 text-shadow: 0 0 2em rgba(255,255,255,1);
 color:#000000;
 border-color:#000000;
  }
@media screen and (max-width:30em){
 .button {
 display: block;
 margin: 0.4em auto;
 }
}

.body-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}