.background-wrapper {
    /* position: absolute; */
    min-height: 100vh;
    height: auto;
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

.background-wrapper::before {
    /* content: ""; */
    background-image: url('../../Images/Aldarra.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    pointer-events: none;
}

.dashboard-wrapper {
    /* position: relative; */
    min-height: 100vh;
    height: auto;
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-between; */
}