.viewRound-wrapper {
    margin: 50px 50px;
    background: grey;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.round-container {
    margin: 10px 10px;
    padding: 20px 20px;
    background: silver;
    height: auto;
    line-height: 2em;
    border-radius: 25px;
}

.round-container p {
    font-weight: bolder;
    font-size: xx-large;
    font-family: monospace;
}

.round-container .round-data-point {
    font-family: 'Roboto';
}

.singleRound-wrapper {
    display: flex;
    flex-direction: column;
    width: 530px;
    margin: 0 auto;
}

.scoreCard-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.course-data-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
}

.hole-container {
    width: auto;
}

.hole-data-column {
    display: flex;
    flex-direction: column;

}

.hole-data-point {
    border: 1px solid black;
    padding: 5px 5px;
}