@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


.viewRound-wrapper {
    margin: 50px 50px;
    background: grey;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.singleRound-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 auto;
    padding: 50px 100px;
    color: black;
    font-family: 'Asap';
}

.scorecard {
    font-family: 'Poppins';
    text-align: center;
    font-weight: 900;
}

.scoreCard-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.course-data-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    /* width: 100px ; */
}

.holes-container {
    align-content: center;
    width: 60px;
}

.hole-data-column {
    display: flex;
    flex-direction: row;
}

.hole-data-point {
    font-family: 'Asap';
    width: auto;
    /* border: 1px solid black; */
    padding: 5px 5px;
}

.hole-container .course-data-point {
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 5px;
}

.darkest {
    background-color: #000000;
    color: white;
}

.dark {
    background-color: #666666;
    color: white;
}

#rounds {
    /* border: 1px solid black; */
    margin: 0 auto;
    background: #ffffff;
    width: 90%;    
}

#rounds th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background: darkslategray;
    color: white;
    border-bottom: .5px solid #000;
}
#rounds td, #rounds th {
    /* border: 1px solid #ddd; */
    padding: 8px 0px;
    width: 100px;
  }

#rounds tr:hover {
    /* background: slategray; */
    /* color: white; */
    box-shadow: inset 0px 0px 10px rgb(112,128,144,.5);
}