.newestScores-wrapper {
    width: auto;
    height: auto;
    background: white;
    border-radius: 25px;
    background: radial-gradient(#C0C0C0, #D3D3D3);
}

.newestScores-container {
    width: auto;
    display: flex;
    flex-direction: column;
}

.newestScores-title {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newestScores-data {
    width: auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background: linear-gradient(to bottom, #192841, #152238);
    transition: all .1s ease-in-out;
}

.newestScores-data:hover {
    background: #D3D3D3;
    color: black;
    font-weight: bolder;
    transform: scale(1.1);
}

.newestScores-datapoint {
    width: 50px;
}

.newestScores-heading {
    width: 100px;
}