.newestScores-wrapper {
    width: auto;
    height: auto;
    background: white;
    border-radius: 25px;
    background: radial-gradient(#C0C0C0, #D3D3D3);
}

.single-row {
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 2.5rem;
    background:	#191970;
    color: #C0C0C0;
    border-radius: 5px;
}

.top-row {
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 2.5rem;
    background:		#808080;
    color: #191970;
    border-radius: 5px;
}

.single-row p {
    line-height: 2.5;
    display: inline-block;
    vertical-align: middle;
  }

.top-row p {
    line-height: 2.5;
    display: inline-block;
    vertical-align: middle;
}