.newestScores-wrapper {
    width: auto;
    height: auto;
    background: white;
    border-radius: 25px;
    background: radial-gradient(#C0C0C0, #D3D3D3);
}

.newestScores-container {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.newestScores-title {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newestScores-data {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background: linear-gradient(to bottom, #192841, #152238)
}

.newestScores-data:hover {
    background: #165b13;
    
}