.addRound-wrapper {
    background: linear-gradient(to bottom, #C0C0C0, #D8DDD8);
    padding: 50px 50px;
    margin: 50px 50px;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px#C0C0C0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-container {
    display: flex;
    flex-direction: column;
}