.addRound-wrapper {
    /* background: linear-gradient(to top, #192841, #152238); */
    padding: 50px 50px;
    margin: 50px 50px;
    margin-top: 100px;
    border-radius: 25px;
    /* box-shadow: 0px 0px 25px #165b13; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* border: 1px solid silver; */
    /* background: silver; */
    color: black;
    /* background: linear-gradient(to bottom, #192841, #152238); */
    padding: 10px 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.course-data-point {
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 0 10px;
    /* border: 1px solid silver; */
}

.form-group-row {
    display: flex;
    flex-direction: row;
    justify-items: center;
    border: 1px solid silver;
    
}

/* label {
    display: flex;
    padding: 0 0;
    margin: 0 0;
    width: 50px;
} */

.course-data-point p {
    text-align: right;
    width: 100px;
    padding-right: 25px;
    font-weight: bolder;
}

.data-point {
    font-size: larger;
    text-align: right;
    border-left: 1px solid silver;
    padding-left: 10px;
}

.input-field {
    max-width: 100px;
    margin-left: 10px;
    text-align: center;
}

.hole-row {
    display: flex;
    flex-direction: row;
}

.individual-hole {
    display: flex;
    flex-direction: row;
}

.individual-hole p {
    padding: 10px 10px;
}