.widget-board {
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0 auto;
    width: 90%;
    border-left: 1px solid darkslategrey;
    border-right: 1px solid darkslategrey;
}

.widget {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 25px 25px;
    padding: 25px 25px;
    min-width: 350px;
    width: auto;
    border: 1px solid darkslategrey;
    text-align: left;
}

.widget h1 {
    font-size: 3em;
    color: slategray;
}
.widget p {
    color: slategray;
}
.widget .data-span {
    font-size: 1.5em;
    color: black;
}

.super-widget {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid darkslategrey;
    margin: 25px 25px;
    padding: 25px 25px;
}

@media (max-width: 768px) {
    .widget-board {
        width: 100%;
    }
    .widget {
        margin: 10px 10px;
        padding: 15px 15px;
    }
    svg {
        height: 250px;
        width: 350px;
    }
  }

.rareBird-Wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 25px;
    text-align: center;
}

.bird {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: .5px solid rgb(0,0,0,.5);
    padding: 25px 25px;
    box-shadow: 0 0 10px rgb(0,0,0,.5);
}

.bird p {
    font-size: x-large;
    text-align: center;
    padding-top: 25px;
}

.image-wrapper {
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.image-wrapper img {
    margin: 0 auto;
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0,0,0,.5);
}