.page-container {
    margin: 0 0 0 0;
    height: auto;
    width: auto;
}

.scores-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 200px;
    padding-bottom: 200px;
}

@media only screen and (max-width: 600px) {
    .scores-container {
        flex-direction: column;
        height: auto;
    }
  }