.page-container {
    margin: 0 0 0 0;
    height: auto;
    width: 100vw;
    background: linear-gradient(to bottom, #2f781f, #165b13);
}

.scores-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 200px;
    padding-bottom: 200px;
}