.header-wrapper {
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    position: relative;
    background-image: url('../../Images/HomeCourse_IMG.JPG');
    background-position: center;
    background-size: cover;
}

.header-title {
    padding: 50px 0px;
    /* position: absolute; */
    margin: 0 auto;
}

.header-ball {
    position: absolute;
    margin: 0 auto;
    bottom: -200px;
    left: 40%;
}

.header-ball img {
    width: 400px;
    border-radius: 100%;
}

@media only screen and (max-width: 600px) {
    .header-body {
        padding: 5px 5px;
    }
    .header-row {
        margin: 0 auto;
        padding: 5px 5px;
    }
    .header-content {
        padding: 5px 0;
    }
  }