@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.header-wrapper {
    width: 100%;
    height: auto;
    text-align: left;
    /* padding-left: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.header-title h1 {
    font-family: 'Bebas Neue';
    font-size: 5em;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}

.tag {
    text-align: center;
}

.motion {
    padding-top: 30px;
    font-family: 'Barlow';
    font-size: xx-large;
}

@media only screen and (max-width: 600px) {
    .header-body {
        padding: 5px 5px;
    }
    .header-row {
        margin: 0 auto;
        padding: 5px 5px;
    }
    .header-content {
        padding: 5px 0;
    }
  }