.header-wrapper {
    width: 100%;
    height: auto;
    background: green;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row-one {
    margin: 25px 50px;
    height: 100px;
    background: greenyellow;
}

.row-two .sub-title {
    margin: 25px 50px;
    width: 500px;
    height: auto;
    background:yellow;
}