.login-wrapper {
    border-radius: 25px;
    height: 100vh;
    margin: auto;
    padding-top: 30vh;
    background-color: green;
}

.login-form {
    margin: auto;
    background: radial-gradient(#C0C0C0, #D3D3D3);
    padding: 30px 30px 30px 30px;
    width: 400px;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    .login-wrapper {
        height: auto;
        padding-top: 0px;
    }
    .login-form {
        height: auto;
        margin: 5px 10px;
        width: auto;
    }
  }