.page-container {
    /* padding: 50px 0px; */
    width: 100%;
    /* background-color: darkslategrey; */
}

.flex-row {
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 0 auto;
}

.image {
    width: 50%;
}

.content {
    text-align: center;
    color: black;
}

.content p {
    font-size: 5em;
}


@media only screen and (max-width: 600px) {
    .flex-row {
        padding: 25px 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        /* justify-content: space-around; */
        align-items: center;
        margin: 0 auto;
    }
    .image {
        width: 100%;    
    }
    .image img {
        max-width: 350px;
    }
    .content p {
        font-size: 3em;
    }
  }