.navbar-wrapper {
    padding: 50px 0px;
    margin: 0 auto;
    width: auto;
    height: 200px;
    /* background: blue; */
    /* background-image: url('../../Images/Fairway.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}