.register-wrapper {
    width: 400px;
    border-radius: 25px;
    margin: 0 auto;
    padding-top: 50px;
}

.register-form {
    margin: 0 auto;
    color: white;
    background: linear-gradient(to bottom, #192841, #152238);
    padding: 30px 30px 30px 30px;
    width: auto;
    border-radius: 25px;
}